.postfeed{
    margin-top: 5%;
    margin-bottom: 5%;
  
}
.posts-top{
    text-align: center;
}
.center {
    text-align: center;
}

.confirmedposts{
    background: aquamarine;
    margin-left: 5%;
}

.unconfirmedposts{
    background: salmon;

}
.mycalendarlink {
    font-family: 'Amatic SC', cursive;
    background-color: salmon;
    color: whitesmoke;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-left: 3%;
  }

  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }


