.postform{
    margin-top: 5%;
    text-align: center;
    height: 650px;
    margin-left: 25%;
    margin-right: 25%;
}

.postformform{
    margin-left: 25%;
    margin-right: 25%;
}

.calendarlink {
    font-family: 'Amatic SC', cursive;
    background-color: blueviolet;
    color: whitesmoke;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin: 5%;
  }

  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }