.create-profile{
    
   margin-top: 5%;
   margin-bottom: 5%;
   height: 650px;
   margin-left: 25%;
   margin-right: 25%;
   text-align: center;
}
.createprofileform{

   margin-left: 25%;
   margin-right: 25%;

}