.inquiries{
    margin-top: 5%;
}

form{
    
    text-align: left;
    margin-left: 30%;
  
    margin-bottom: 10%;
    font-size: 40px;

}

h1 {
    text-align: center;
}

textarea {
    width: 400px;
    height: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

input {
    margin-left: 15px;
    box-shadow: 0 6px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.label {
    margin: 20px;
}

.submit {
   margin-left: 250px;
   background-color: black;
   color: whitesmoke;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   
}