.inquiries
{
    margin-top: 5%;
    margin-bottom: 5%;
    height: 650px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
  
}

.inquiryform{

    margin: 5px;

  
}

h1 {
    text-align: center;
}

textarea {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: 'Roboto';
    height: 150px;
  
}

input {

    box-shadow: 0 6px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: 'Roboto';

}

.label {
    margin: 20px;
}


p{text-align: center;
}