.portal {
    margin-top: 5%;
    margin-bottom: 5%;
    height: 650px;
    margin-left: 10%;
    margin-right: 10%;
}

button {
    background-color: black;
    color: whitesmoke;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}