.dashboard{
    text-align: center;
   height: 550px;
   margin-top: 5%;
}

.card{
    width: 40%;
    padding: 10px;
    margin-left: 30%;
}
.edit {
    width: 40%;
    margin-left: 30%;
    background-color: aquamarine;
}

.contacts {
    width: 40%;
    background-color: aquamarine;
}

.delete {
    background-color: salmon;
    width: 40%;
    margin-left: 30%;

}

.req {
    background-color: salmon;
    width: 40%;


}

.create {
    width: 40%;
    margin-left: 30%;
    background-color: aquamarine;

}