.login {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 850px;
  margin-left: 30%;
  margin-right: 30%;
}

.register {
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
        height: 850px;
        margin-left: 30%;
        margin-right: 30%;
}

.btn {
  font-family: 'Amatic SC', cursive;
}
